<h1>Moe!</h1>
<div class="notcentered">
  <p>Tämä sivusto on osa LAB-ammattikorkeakoulun "Front-end työkalut" -kurssia. Valikosta löytyy kaikki kurssin
    sisältämien harjoitustöiden ratkaisut.</p>
  <p>Sivuston luomiseen on käytetty seuraavia tekniikoita:</p>
  <ul>
    <li>HTML5</li>
    <li>CSS</li>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>BootStrap</li>
    <li>Firebase</li>
    <li>Git(Hub)</li>
  </ul>
  <p>Sivusto on skaalautuva, mutta ei mobiilioptimoitu. Ulkoasukin on vielä rujo, hiotaan sitä mukaa kun ehtii.
    Sivuston kansiorakenne on myös todella sekava, pitää ottaa selvää onko kansiointi jälkikäteen järkevää. Koodin
    kommentointi myös jokseekin puutteellista, en tosin tiedä onko harjoitustyössä syytä nähdä vaivaa perusteelliseen kommentointiin.
  <p>Hauskana kuriositeettina; bannerin norppa on <a href="https://github.com/cmdr2/stable-diffusion-ui">Stable Diffusion UI -tekoälyn</a> luoma!</p>
  <img src="assets/resources/img/joonas.png" />
</div>