
<h1>Moe!</h1>
<div class="notcentered">
<p>Tämä sivusto on osa LAB-ammattikorkeakoulun "Front-end työkalut" -kurssia. Valikosta löytyy kaikki kurssin sisältämien harjoitustöiden ratkaisut.</p>
<p>Sivuston luomiseen on käytetty seuraavia tekniikoita:</p>
<ul>
    <li>HTML5</li>
    <li>CSS</li>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>BootStrap</li>
  </ul>
  <p>Sivusto on skaalautuva, mutta ei mobiilioptimoitu. Ulkoasukin on vielä rujo, hiotaan sitä mukaa kun ehtii. Hauskana kuriositeettina; bannerin norppa on Stable Diffusion UI -tekoälyn luoma!</p>
  <img src="assets/resources/img/joonas.png"/>
</div>