<mat-toolbar color="primary" class="container" style="background-color:#607D8B; border-bottom:0;">
    <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>format_align_justify</mat-icon>
    </button>
    Front-end harjoitukset
    <mat-menu #menu="matMenu">
        <a routerLink="/homepage" routerLinkActive="active">
            <button mat-menu-item>
            <span>Etusivu</span>
            </button>
            </a>
        <a routerLink="/calculator" routerLinkActive="active">
            <button mat-menu-item>
            <span>Calculator</span>
            </button>
        </a>
        <a routerLink="/helloworld" routerLinkActive="active">
            <button mat-menu-item>
            <span>Hello World!</span>
            </button>
            </a>
        <a routerLink="/feedback" routerLinkActive="active">
            <button mat-menu-item>
            <span>Feedback</span>
            </button>
            </a>
        <a routerLink="/templateddrivenform" routerLinkActive="active">
            <button mat-menu-item>
            <span>Lomakeharjoitus 1</span>
            </button>
            </a>
        <a routerLink="/reactiveform" routerLinkActive="active">
            <button mat-menu-item>
            <span>Lomakeharjoitus 2</span>
            </button>
            </a>
        <a routerLink="/finnkino" routerLinkActive="active">
            <button mat-menu-item>
            <span>Finnkino API</span>
            </button>
            </a>       
      </mat-menu>
      <span class="toolbar-spacer"></span>
      <a routerLink="/admin/login" routerLinkActive="active">
        <button mat-flat-button color="primary" >Kirjaudu sisään</button>
        </a>
        
    </mat-toolbar>
    