<p>Sisälle pääsee esim. seuraavilla tiedoilla:</p>
<p>testi@testi.fi // testi123</p>
<div>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <mat-form-field>
            <input matInput
            placeholder="Sähköposti"
            formControlName="email"
            >
            <mat-error *ngIf="email?.hasError('required')">Syötä sähköpostiosoite</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput
            type="password"
            placeholder="Salasana"
            formControlName="password"
            >
            <mat-error *ngIf="password?.hasError('required')">Anna salasana</mat-error>
          </mat-form-field>
          <br>
            <button mat-flat-button color="primary"  (click)="AuthService.SignIn(email?.value, password?.value)">Kirjaudu sisään</button>
            <button mat-flat-button color="primary" (click)="peruuta()">Peruuta</button>
        </form>
        
</div>