/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color:#37474F !important;
    text-align: center;
    color:white;
    margin: auto;
}

.navbar {
    position: sticky !important;
    top: 0 !important;
    margin:auto;
    z-index: 999;

    
}

.header {
    height: 10%;
    background-color:#455A64;
    text-align: center;
    color:white;
    margin: 50px;
    padding: 10px;
    border: 3px solid #B0BEC5;
}

.calculator {
    width: 30%;
    text-align: center;
    color:white;
    padding: 10px;
    margin: auto;
}

.container {
    background-color:#455A64;
    text-align: center;
    color:white;
    margin: auto;
    padding: 10px;
    border: 3px solid #B0BEC5;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.borderedDiv {
    background-color:#607D8B;
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    height: auto;
    border: 2px solid #B0BEC5;
    padding: 10px;
}